---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Thomas Klemm - Igniter</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Thomas Klemm</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Featuring <a href="http://github.com/prose/bootstrap">Prose.io</a>. Hosting is provided by <a href="http://github.com/prose/bootstrap">GitHub</a>
    </div>
  </div>
</body>
</html>
